body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgba(243, 243, 243, 0.856);
}

.mobile-container {
    max-width: 100%;
    margin: auto;
    background-color: #555;
    color: white;
    border-radius: 10px;
    font-weight: bold;
    
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
    position: relative;
    
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: white;
    padding: 15px 15px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    position: relative;
  }
  
  .topnav a.icon {
    background: rgb(20, 20, 20);
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    height: 21px;
  }
  
  .topnav a:hover {
    color: rgb(255, 255, 255);
  }
  
  .active {
    background-color: rgb(16, 173, 22);
    color: white;
    position: relative;
  }

  .logo {
      display: inline-block;
      position: absolute;
      top: 5px;
      left: 90px;
      z-index: 10;
  }

/* MAIN */



.form-box {
  z-index: 0;
  margin: 50px auto;
  width: 90%;
  height: 400px;
  border: 2px solid rgba(128, 128, 128, 0.39);
  border-radius: 5px;
  box-shadow: 5px 3px 10px rgba(128, 128, 128, 0.363);
}

.form-header {
  margin-left: 5%;
}

input[type=text], select {
  width: 80%;
  padding: 12px 20px;
  margin-left: 5%;
  margin-top: 10px;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 40%;
  background-color: #4CAF50;
  color: white;
  padding: 10px 5px;
  margin-left: 3%;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

#fname {
  margin-left: 10px;
}
#lname {
  margin-left: 10px;
}
#tour {
  margin-left: 10px;
}

.tours-info {

  text-align: center;
  padding: 10px 10px;
  margin: 0 auto;
}

/* FOOTER */

.footer {
  margin
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgba(19, 114, 0, 0.986);
  color: white;
  text-align: center;
}
/* FONT AWSOME ICONS */

.fa {
  padding: 5px;
  font-size: 30px;
  width: 15px;
  border-radius: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

@media only screen and (min-width: 600px) {
  input[type=submit] {
    width: 200px;
    margin-left: 10px;
  }
}